@font-face {
	font-family: "roboto";
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "roboto-thin";
	src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
	font-family: "roboto-thick";
	src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
	font-family: "roboto-light";
	src: url("../fonts/Roboto-Light.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
	--accentColor: #0066ff;
}
a {
	text-decoration: none;
}
body {
	width: 100vw;
	height: 100vw;
	overflow: hidden;
}
button {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
}
.flexBetween {
	display: flex;
	justify-content: space-between;
}
.loadingArea {
	display: flex;
	justify-content: center;
	align-items: center;
}
.loadingIndicator {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.loadingIndicator:after {
	content: " ";
	display: block;
	width: 30px;
	height: 30px;
	margin: 8px;
	border-radius: 50%;
	border: 3px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: loadingIndicator 1.2s linear infinite;
}
@keyframes loadingIndicator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.active_slide_6 {
	background: rgb(241, 241, 241) !important;
}
.active_class_3 {
	background: linear-gradient(45deg, #284854, #492e35) !important;
}
.active_class_4 {
	background: linear-gradient(45deg, #4f4e4f, rgb(19, 19, 19)) !important;
}
/*  */
